.onpage-section {
  padding-left: 120px;
  padding-right: 120px;
}

.text-section {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text-section h2 {
  color: #2D9CDB;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

.text-section p {
  font-size: 18px;
  color: #333;
  text-align: justify;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
}

.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  max-height: 100%;
}

@media (max-width: 1240px) {
  .onpage-section {
    padding-left: 60px;
    padding-right: 60px;
  }

  .text-section h2 {
    font-size: 24px;
  }

  .text-section p {
    font-size: 14px;
  }

  .image-container {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .onpage-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-section,
  .image-container {
    margin-bottom: 20px;
    height: auto;
  }

  .text-section h2 {
    font-size: 20px;
  }

  .text-section p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .onpage-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-section {
    padding: 15px;
  }

  .text-section h2 {
    font-size: 18px;
  }

  .text-section p {
    font-size: 10px;
  }
}